<div class="container">
  <h2>My Todos</h2>
  
  <form role="form" ng-submit="addTodo()">
    <div class="form-group">
      <input class="form-control" type="text" ng-model="todo" placeholder="What needs to be done?">
    </div>
    <button type="submit" value="Add" class="btn btn-primary">Add</button>
  </form>
  <br>
  <div ui-sortable ng-model="todos" >
    <p class="input-group" ng-repeat="todo in todos track by $index" style="padding:5px; cursor:move">
      <input type="text" class="form-control" ng-model="todo">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>
</div>
